.js-widget-overlay{
position:absolute;
bottom: 0px;
right: 0px;
}
.js-widget-dialog{
    position: fixed;
    z-index: 10002;
    background: #fff;
    left: 50%;
    top: 30%;
    margin: 0 0 0 -120px;
    width:auto;
    padding: 10px 20px;
    border: solid 1px #333
}

video{
    width: 600px;
    height: 400px;
}